.navbar-brand{
  color:rgb(168, 137, 0);
  font-weight:bold;
}

.container-marketing{
  background-image:url(./Images/Laminate-flooring-What-makes-it-an-ideal-choice-for-homes.jpg);
}


.circle-objects{
  padding-bottom: 50px;
}

.fw-normal{
  text-align: left;
}

.btn{
  margin-left: 30%;
}



.d-block{
  height: 500px;
  border-style: solid;

}

.footer{
  background-color: rgb(236, 236, 236);
}

.col-footer{
  margin-left: 50px;
}